In [15]:
import numpy as np
import pandas as pd
from TodoDAO import TodoDAO

In [16]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [17]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [18]:
dates = pd.date_range("20130101", periods=6)

In [19]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [21]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [23]:
dao = TodoDAO('todos_db.db')
todos = dao.findAll()

df_todos = pd.DataFrame(todos)
df_todos

       id                                  title  completed
0       1    Fundamental attitude-oriented array          1
1       2          Configurable modular extranet          0
2       3  Multi-channelled modular architecture          0
3       4      Function-based actuating database          0
4       5       User-centric systematic protocol          0
..    ...                                    ...        ...
995   996            Sharable scalable moderator          1
996   997          Virtual multi-tasking adapter          1
997   998      Inverse background data-warehouse          0
998   999      Diverse empowering info-mediaries          0
999  1000          Persevering secondary synergy          1

[1000 rows x 3 columns]

In [36]:
df_todos.tail()

       id                              title  completed
995   996        Sharable scalable moderator          1
996   997      Virtual multi-tasking adapter          1
997   998  Inverse background data-warehouse          0
998   999  Diverse empowering info-mediaries          0
999  1000      Persevering secondary synergy          1

In [37]:
df_todos.index

RangeIndex(start=0, stop=1000, step=1)

In [38]:
df_todos.columns

Index(['id', 'title', 'completed'], dtype='object')

In [39]:
df_todos['title']

0        Fundamental attitude-oriented array
1              Configurable modular extranet
2      Multi-channelled modular architecture
3          Function-based actuating database
4           User-centric systematic protocol
                       ...
995              Sharable scalable moderator
996            Virtual multi-tasking adapter
997        Inverse background data-warehouse
998        Diverse empowering info-mediaries
999            Persevering secondary synergy
Name: title, Length: 1000, dtype: object

In [41]:
df_todos.loc[995]

id                                   996
title        Sharable scalable moderator
completed                              1
Name: 995, dtype: object

In [42]:
df_todos[df_todos['completed'] == 1]

       id                                   title  completed
0       1     Fundamental attitude-oriented array          1
5       6           Sharable fresh-thinking model          1
7       8      Self-enabling responsive migration          1
11     12  Organized mission-critical utilisation          1
12     13               Robust secondary intranet          1
..    ...                                     ...        ...
992   993     Open-architected cohesive hierarchy          1
994   995             Organic holistic time-frame          1
995   996             Sharable scalable moderator          1
996   997           Virtual multi-tasking adapter          1
999  1000           Persevering secondary synergy          1

[512 rows x 3 columns]

In [43]:
df_todos['upper_title'] = df_todos["title"].map(lambda v:v.upper())

In [44]:
df_todos

,id,title,completed,upper_title
0,1,Fundamental attitude-oriented array,1,FUNDAMENTAL ATTITUDE-ORIENTED ARRAY
1,2,Configurable modular extranet,0,CONFIGURABLE MODULAR EXTRANET
2,3,Multi-channelled modular architecture,0,MULTI-CHANNELLED MODULAR ARCHITECTURE
3,4,Function-based actuating database,0,FUNCTION-BASED ACTUATING DATABASE
4,5,User-centric systematic protocol,0,USER-CENTRIC SYSTEMATIC PROTOCOL
...,...,...,...,...
995,996,Sharable scalable moderator,1,SHARABLE SCALABLE MODERATOR
996,997,Virtual multi-tasking adapter,1,VIRTUAL MULTI-TASKING ADAPTER
997,998,Inverse background data-warehouse,0,INVERSE BACKGROUND DATA-WAREHOUSE
998,999,Diverse empowering info-mediaries,0,DIVERSE EMPOWERING INFO-MEDIARIES
999,1000,Persevering secondary synergy,1,PERSEVERING SECONDARY SYNERGY